.footer_wrapper {
    color: white;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    .footer__social {
        margin: 1rem auto;
        background-color: black;
        display: flex;
        gap: 3rem;
        .footer__social__item {
            background-color: black;
            font-size: 3rem;
            color: rgba($color: dodgerblue, $alpha: .6);
            cursor: pointer;
            transition-duration: 500ms;
            &:hover {
                color: skyblue;
            }
            i {
                background-color: black;
            }
        }
    }
    .footer__newsletter {
        background-color: black;
        margin: 1rem;
        form {
            background-color: black;
            .footer_newsletter_div {
                background-color: black;
                label {
                    margin: 0 auto;
                    color: grey;
                    background-color: black;
                    text-align: left;
                    font-family: "riesling_regular";
                }
                input {
                    margin: 0 auto;
                    // width: MIN(60%, 20rem);
                    color: white;
                    border: 1px solid white;
                    background-color: black;
                    font-family: "riesling_regular";
                }
                .footer_newsletter_submit {
                    color: black;
                    background-color: white;
                    border: 0;
                    font-family: "riesling_regular";
                }
            }
        }
    }
    .footer__address {
        p {
            color: white;
            background-color: black;
            margin: 0;
            font-family: "riesling_regular";
            b {
                background-color: black;
            }
        }
    }
    .footer__copyright {
        font-family: "riesling_regular";
        padding: 1rem 0rem;
        margin: 1rem 0rem;
        font-size: 2rem;
        color: white;
        background-color: black;
    }
}