.reserver {
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 99;
    background-color: $c3;
    border-radius: 0.5rem;
    border: 0;
    color:white;
    text-transform: uppercase;
    font-family: "riesling_regular";
    font-size: 2rem;
    padding: 0.5rem 1rem;
    transition-duration: 500ms;
    text-decoration: none;
    &:hover {
        color: $c3;
        background-color: white;
    }
  }

