.reserver {
    position: fixed;
    bottom: 20rem;
    right: 30rem;
    z-index: 99;
    transform: translate(-15rem, 8rem);
    background-color: $c3;
    border-radius: 0.5rem;
    color:white;
    text-transform: uppercase;
    font-family: "riesling_regular";
    font-size: 2rem;
    padding: 0.5rem 1rem;
    transition-duration: 500ms;
    text-decoration: none;
    &:hover {
        color: $c3;
        background-color: white;
    }
  }
  
